body {
  position: relative;
  background: #1B0726;
  color: #999;
}

.card {
  background: black;
  margin: 0 auto;
  float: none;
  margin-bottom: 1em;
}

.jumbotron {
  background: #1B0726 url("../img/nmJumbo2.jpg") no-repeat center bottom;
  height: 100%;
  background-size: auto;
  overflow: hidden;
}

.navFooter {
  color: white;
  background: #1B0726;
}

.profile {
  border-radius: 5em;
  position: relative;
}

.titleColor {
  color: #E8B71F;
}

.titleColor1 {
  color: white;
}
