// variables
$main-dark: #100221;
$main-dark-alt: #000;
<<<<<<< HEAD
$font-color: #fff;
=======
$main-light: #FFFDA5;
$main-light-alt: #fff;
$font-color: #999; 
>>>>>>> b574947cf5e708e1ccb2f9efcb842dc4da72c6bd



body {
  background: $main-dark;
  color: $font-color;
}

a {
  color: $main-light;
}

.project-bg {
  background: black;

  .container.pt-4 {
  margin-top: 6em;
  padding-bottom: 5em;

    .flex-btn {
      display: flex;
      justify-content: center;
      padding-top: 4em;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $main-dark;
      background: $main-light;
      width: 50%;
      }
    }
  }
}

.navbar-link {
  color: black;
}
.card {
  background: $main-dark;
  margin: 0 auto;
  float: none;
  margin-bottom: 1em;
}

.flex-btn {
  display: flex;
  justify-content: center;
}

.btn {
  border-color: $main-light;
  background-color: $main-light;
  color: $main-dark-alt;
}

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: $main-light;
    background-image: none;
    border-color: $main-light;
}

.btn-primary:hover {
    border-color: $main-light;
    background-color: $main-light;
    border-color: $main-light;
}

.btn.active, .btn:active {
    background-image: none;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

a:hover {
    color: $main-light;
    text-decoration: underline;
}


.jumbotron {
  background: $main-dark url("../img/nmJumbo2.jpg") no-repeat center bottom;
  height: 100%;
  background-size: auto;
  overflow: hidden;
  box-shadow: inset 0 0 1200px 300px rgba(0,0,0,.2);
}

.navFooter {
  color: white;
  background: $main-dark;
}

.navbar-toggler {
  background: white;
  color: white;
}



.profile {
  border-radius: 5em;
  position: relative;
}

.titleColor {
  color: $main-light;
}

.titleColor1 {
  color: $main-light-alt;
  text-align: center;
}


.footer-name {
  padding-top: .5em;
}