

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

/*
Remove fixed class from Nav and use Afix w/ JavaScript
Data offset to allow it to disappear then reapear
*/



/* section styles */
.section1, .section2, .section3, .section3, .section5 {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.section1 {
  width: 100%;
  background: #112717 url("../img/spaJumbo-2.jpg") no-repeat center;
}

.section2 {
  color: white;
  background: #112717;
}

.section3 {
  color: white;
  background: rgba(0, 20, 0, 0.7);
}






/* nav */
#navbar .glyphicon {
  margin: 0em 0.25em 0em 1em;
  color: white;
}

.navbar {
  margin-bottom: 0 !important;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}


button.btn {
  color: white;
  background-color: rgba(99, 134, 153, 0.7);
  border: none;
}

a.btn.btn-primary {
  background-image: none;
  background-color: rgba(99, 134, 153, 0.7);
  border-color: white;
  border: none;
}

.btn.btn-success {
  color: white;
  background: #CCBB81;
  border: none;
}

.navbar, .thumbnail, .dropdown-menu {
  background-color: rgba(0, 20, 0, 0.7);
  /*background:transparent;*/
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}

.navbar .navbar-brand {
  color: white;
}

.navbar-brand img {
  height: 1.4em;
  padding-right: 1em;
  display: inline-flex;
}

.navbar .navbar-nav li a {
  color : white;
}

.dropdown-menu > li > a:hover {
  background-color: black;
  background-image: none;
}



/* Accoridan */
 #accordion .btn.btn-link {
  color: white;
  text-decoration: none;
  background-color: rgba(99, 134, 153, 0.7);
}




/* Jumbotron & Thumbnails */
.jumbotron {
  background: white url("../img/spaJumbo-1.jpg") no-repeat 20% 50%;
  height: 100%;
  background-size: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

.jumbotron p {
  padding-top: .5em;
}

.thumbnail p {
  color: white;
}

.thumbnail h3 {
  color: #CCBB81;
}




/* CSS Accoridan */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
  height: 6em;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height .25s;
}
.color1, .color2 {
  text-align: center;
	color: #fff;
	padding: 2em;
	opacity: 0.8;
}

.color1 {
  background-color: #638699;
}

.color2 {
  background-color: rgba(0, 20, 0, 0.7);
}

.font-center {
	font-size: 2em;
}

/* General */
body {
  /*padding-bottom: 20px;*/
  font-family: 'Montserrat', sans-serif;
}



/* flex styles */
.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*.flex-card {

}*/
