

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
Colors
grey rgb(41,39,40);
orange rgb(254,185,143);
*/



/* Body */

body {
  background-color: rgb(254,185,143);
}

.btn {
 color: #fff;
 background: rgb(41,39,40);
 border-color: #000;
}

.btn:hover {
 background: #000;
 border-color: #000;
}

.mainContent {
  color: white;
  background: rgb(41,39,40);
  /* margin: 2em; */
}

.mainContent .btn {
  background: #fff;
  color: #000;
 }


.mainContent img {
  background: rgb(41,39,40);
  margin-top: 2em;
  border-color: transparent;
}


/* Nav */

.navbar-brand img {
  height: 1.2em;
}


/* .carousel-inner > .item {
  height: 25%;
} */

.jumbotron {
  color: white;
  text-align: left;
  background: transparent url("../img/jumboSpa2.jpg") no-repeat center;
  width: 100%;
  background-size: 100%;
  overflow: hidden;
}

.jumbotron .container .btn:hover {
 background: #000;
}

.navbar-trans {
  color: white;
  background: transparent;
  border-color: rgb(254,185,143);
}
