

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

/*
Remove fixed class from Nav and use Afix w/ JavaScript
Data offset to allow it to disappear then reapear
*/

/* nav */
#navbar .glyphicon {
  margin: 0em 0.25em 0em 1em;
  color: white;
}

button.btn {
  color: white;
  background: #CCBB81;
  border: none;
}

a.btn.btn-primary {
  background-image: none;
  background-color: #CCBB81;
  border-color: white;
  border: none;
}

.btn.btn-success {
  color: white;
  background: #CCBB81;
  border: none;
}

.navbar, .thumbnail, .dropdown-menu {
  background-color: rgba(0, 20, 0, 0.7);
  /*background:transparent;*/
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}

.navbar .navbar-brand {
  color: white;A
}

.navbar .navbar-nav li a {
  color: white;
}

.dropdown-menu > li > a:hover {
  background-color: black;
  background-image: none;
}

.thumbnail p {
  color: white;
}

.thumbnail h3 {
  color: #CCBB81;
}

.jumbotron {
  background: white url("../img/spaJumbo1.jpg") no-repeat 20% 50%;
  height: 100%;
  background-size: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

.jumbotron p {
  padding-top: .5em;
}



/* section styles */
.section1, .section2, .section3, .section4{
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.section1 {
  background: #112717 url("../img/spaJumbo2.jpg") no-repeat center left;
}

.section2 {
  color: white;
  background: black;
}

.section3 {
  color: white;
  background: #638699 url("../img/spaJumbo3.jpg") no-repeat center left;
}

.section4 {
  color: white;
  background: rgba(0, 20, 0, 0.7);
}


.color1, .color2, .color2, .color4 {
	color: #fff;
	padding: 2em;
	opacity: 0.8;
}

.color1 {
  background-color: #D2B9D2;
}

.color2 {
  background-color: #447F44;
}

.color3 {
  background-color: #3D375B;
}

.color4 {
  background-color: #81CC81;
}

.font-center {
	font-size: 2em;
}



/* flex styles */
.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*.flex-card {

}*/


/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 6em;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}


body {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
  font-family: 'Montserrat', sans-serif;
}
